---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { getCollection } from 'astro:content'

const jsPosts = (await getCollection('js')).reverse()
const goPosts = (await getCollection('go')).reverse()
const rubyPosts = (await getCollection('ruby')).reverse()
const otherPosts = (await getCollection('other')).reverse()
---
<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead/>
</head>
<style>
	div {
		grid-column-start: 2;
		margin-top: 3rem;
		text-align: ;
		display: grid;
		justify-content: space-around;
	}

	ul {
		padding: 0;
	}

	li {
		list-style-type: none;
		margin-bottom: .5rem;
	}

</style>
<body>
	<Header/>
	<main>
		<div>
			<ul class="category">
				{otherPosts.map(p => <li><a href={`other/${p.slug}`}>{p.data.title}</a></li>)}
				{rubyPosts.map(p => <li><a href={`ruby/${p.slug}`}>{p.data.title}</a></li>)}
				{goPosts.map(p => <li><a href={`go/${p.slug}`}>{p.data.title}</a></li>)}
				{jsPosts.map(p => <li><a href={`js/${p.slug}`}>{p.data.title}</a></li>)}
			</ul>
		</div>
	</main>
	<Footer/>
</body>
</html>
